<div class="ui secondary pointing menu">
    <a class="item" href="/">
        Home
    </a>
    <a class="item" href="/new">
        New Post
    </a>
    <a class="item">
        About photoRepo
    </a>
    <a class="item" href="/debug/error">
        Error
    </a>
</div>
