<link rel="stylesheet" type="text/css" href="lib/semantic/dist/semantic.min.css">
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css"> -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">
