
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="lib/semantic/dist/semantic.min.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script> -->

<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.iframe-transport.js' type='text/javascript'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.12.5/js/jquery.fileupload.js' type='text/javascript'></script>
<script src='https://cdn.jsdelivr.net/jquery.cloudinary/1.0.18/jquery.cloudinary.min.js' type='text/javascript'></script>

<!-- custom handler for cloudinary widget -->
<script type="text/javascript">
    $.cloudinary.config({ cloud_name: 'infancyit', api_key: '244969369746786'});
    // $.cloudinary.responsive();
    $('.upload_field').unsigned_cloudinary_upload("r5nokcil",
            { cloud_name: 'infancyit' },
            { multiple: true }
    ).bind('cloudinarydone', function(e, data) {
        // Populate thumbnails when upload is finished
        $('.thumbnails').append($.cloudinary.image(data.result.public_id,
                  { format: 'jpg', width: 150, height: 100, crop: 'thumb', gravity: 'face', effect: 'saturation:50' }
        ))
    }).bind('cloudinaryprogress', function(e, data) {
        // Update progress bar with upload progress
        $('.progress').progress({
            percent: Math.round((data.loaded * 100.0) / data.total)
        })
    });
</script>

<script type="text/javascript">
    $('#tag').dropdown({
       allowAdditions: true
    });
    document.getElementById("upload_widget_opener").addEventListener("click", function() {
        cloudinary.openUploadWidget({ cloud_name: 'infancyit', upload_preset: 'r5nokcil'},
                function(error, result) {
                    console.log(error, result);
                    document.getElementById('url_text').value = result[0].url;
                });
    }, false);
</script>
