<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
    <h3 class="ui center aligned icon header">
        <%=  message %>
    </h3>
</header>

<main>
    <div class="ui grid container">
        <div class="ui sixteen wide column centered grid">
            <div class="column">
                <img class="ui medium centered image"
                src="http://images.clipartpanda.com/error-clipart-no-time-wasting-error-md.png"
                style="border: none">
                <br>
                <div class="column centered">
                  <p><strong>Message: </strong><h1><%= message %></h1></p>
                  <%if (error.status != undefined) { %>
                    <p><strong>Status: </strong><h3><%= error.status %></h3></p>
                  <% } %>
                  <p><strong>Dev stacktrace: </strong><pre><%= error.stack %></pre></p>
                </div>
            </div>
        </div>
    </div>
    <% include partials/scripts %>
</body>
</html>
